extends default

block content
	header.header
		a(class = 'right', href='/')
			i(class = 'fa fa-home')
		h About
	h2 What is GooseGooseGo?
	p GooseGooseGo is a search engine that, thanks to an evil goose, shows you the results for the last search anyone did. When you search, The Goose in the Machine holds onto your results and gives it to the next person.
	h2 Who made GooseGooseGo?
	p GooseGooseGo was made by Ben Draper, an idiot with too much time on his hands. He's on twitter @BenDraper123.
	h2 What's this got to do with DuckDuckGo?
	p Nothing. GooseGooseGo is not at all associated with DuckDuckGo, it just happens to be The Goose's favourite search engine. Any simillarity between this website and that of DuckDuckGo is merely the result of hours of painstaking coincidence.
	h2 This website is the best thing I've ever seen, how can I give you my money, Ben Draper?
	p There is nothing I would like more than to be made filthy rich by a novely website of no practical value but The Goose keeps changing the donate link to that of the Royal Society for the Protection of Birds so unfortunately you have no choice but to give them money instead.